button{
        font-family: 'Bebas Neue', serif;
      }
      body {
        background-color: rgb(191,226,202);
      }
      /*Menubar Styling*/
      /*The middle borders of the buttons are 4px wide which is annoying*/
      .menubar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .menubar-option{
        border: 2px;
        border-style: solid;
        text-align: center;
        background-color: rgb(254,216,143);
      }
      .menu-button{
        background-color: transparent;
        border: none;
        color: black;
        width: 100%;
        height: 100%;
        transition: 0.15s;
      }
      .menu-button:hover{
        cursor: pointer;
        background-color: rgb(1,39,112);
        color: white;
      }
      .menu-button:active{
        opacity: 80%;
      }
      /*Title Styling*/
      .web-title{
          display: flex;
          flex: 1em;
      }
      .web-title-content{
          margin-left: auto;
          margin-right: auto;
          font-family: 'Cheese';
          font-size: xx-large;
      }